// define colors 
@white: #FFF;
@fb-blue: #0084FF;
@bg-grey: #F6F7F9;

.emoji-picker {
  background: @white;
  border: 1px solid @fb-blue;
  border-radius: 4px;
  bottom: 0;
  box-shadow: 0 4px 8px rgba(0,0,0,.12);
  box-sizing: border-box;
  margin-left: -12px;
  position: absolute;
  user-select: text;
  width: 100%;

  &__clipboard-helpers {
    display: none;
  }

  &--inactive {
    // visibility: hidden;
  }
}

.emoji-list {
  padding: 2px;

  &__wrapper {
    list-style-type: none;
  }

  &__header {
    color: #0084ff;
    font-size: 12px;
    font-style: initial;
    padding: 2px 4px;
  }

  &__lite-emoji-item {
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    font-size: 18px;
    height: 23px;
    margin: 4px;
    padding-top: 1px;
    text-align: center;
    width: 23px;

    &--active {
      background: @fb-blue;
      border-radius: 50%;
    }
  }

  &__full-emoji-item {
    box-sizing: border-box;
    display: inline-block;
    margin: 2px;
    padding: 2px 6px;

    &--active {
      background: @fb-blue;
      border-radius: 20px;
      color: @white;
    }
  }
}

.information-bar {
  background: @bg-grey;
  border-bottom: 1px solid @fb-blue;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  color: @fb-blue;
  font-size: 12px;
  padding: 10px;

  &__snippet {
    margin-right: 24px;
  }
}